* {
	box-sizing: border-box;
}

body {
	width: 1349px;
	margin: auto;
}

header {
	display: flex;
	justify-content: space-between;
	min-height: 116px;
	align-items: center;
	width: 100%;
}

ul {
	display: flex
}

.menu {
	align-items: center;
}

.menu ul li {
	list-style: none;
	margin-left: 34px;
	font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
	font-size: 18px;
	line-height: 22px;
}

.menu ul li a {
	text-decoration: none;
	color: black;
}

.logo {
	font-family: 'Homemade Apple';
	font-style: normal;
	font-weight: 400;
	font-size: 18px;
	padding-left: 80px;
}

.gift button {
	background-color: white;
	font-family: 'Gilroy';
	font-size: 18px;
	line-height: 22px;
	border: 1px solid #F7941E;
	border-radius: 5px;
	color: #F7941E;
	width: 150px;
	height: 43px;
	margin-right: 34px
}

.gift button a {
	text-decoration: none;
	background-color: white;
	color: #F7941E;
	display: flex;
	display: block;
}

.ferst {
	display: flex;
	width: 100%;
}

.item-1 {
	background-color: #F1F1F2;
}
		
.ferst-item{
	width: 50%;
}
.second-item{
	width: 50%;
}

.aaa{
	width: 100%;
	height: 100%;
}
.text1 {
	font-size: 40px;
	width: 433px;
	line-height: 50px;
	font-weight: 800;
	padding: 154px 0 0 162px;
}

.text2 {
	margin-top: 36px;
	width: 422px;
	padding-left: 162px;
	line-height: 140.62%;
}

.gift2 {
	margin-top: 52px;
	padding-left: 162px;
}

.gift2 button a {
	text-decoration: none;
	color: white;
	display: flex;
	display: block;
}

.gift2 button {
	background-color: #F7941E;
	font-family: 'Gilroy';
	font-size: 18px;
	line-height: 22px;
	border: 1px solid #F7941E;
	border-radius: 5px;
	color: #F7941E;
	width: 200px;
	height: 60px;
	margin-bottom: 135px;
}

.second {
	display: flex;
	background-color: #F1F1F2;
}

.text3 {
	padding: 164px 0 0 102px;
	font-size: 25px;
}

.text4 {
	width: 441px;
	padding-left: 102px;
	font-size: 20px;
	margin-top: 20px;
}

.gift3 {
	padding-left: 102px;
	margin-top: 35px;
}

.gift3 button a {
	text-decoration: none;
	color: #F7941E;
	font-size: 18px;
	line-height: 134.77%
}

.gift3 button {

	border: 1px solid #F7941E;
	border-radius: 5px;
	width: 200px;
	height: 60px;
}


.text5 {
	padding-top: 96px;
	font-size: 32px;
	line-height: 38px;
	text-align: center;
}

.text6 {
	margin-top: 23px;
	font-size: 18px;
	line-height: 135.94%;
	text-align: center;
}

.container {
	display: flex;
	justify-content: center;
	padding-bottom: 137px;
}

.block1 img {
	width: 270px;
	height: 270px;
}

.item2 {
	padding-left: 30px;
}

.container {
	margin-top: 64px;
}

.tex1 {
	font-size: 20px;
	line-height: 24px;
	padding: 24px 0 0 24px;
}

.tex2 {
	margin: 74px 0 0 0;
	padding: 0 0 24px 24px;
}

.it2 {
	background-color: #FAFAFA;
}

.tex2 a {
	text-decoration: none;
	color: black;
}

.item1 {
	box-shadow: -12px 10px 20px 0px #B9B9B9;
}

.fourth {
	background-color: #F7941E;
	display: flex;
}

.item21 {
	width: 50%;
}

.item22 {
	width: 50%;
	display: flex;
}

.tex3 {
	padding: 81px 0 0 235px;
	font-size: 32px;
	font-weight: 800;
	line-height: 140.62%
}

.tex4 {
	padding: 0 0 69px 235px;
	font-size: 32px;
}

.gift4 {
	width: 200px;
	height: 50px;
	margin: 96px 0 0 0;
	border-radius: 5px;
}
.g2{
	background-color: #F7941E;
	margin-left: 16px;
	font-size: 18px;
}
.g1{
	background-color: black;
	font-size: 18px;

}
.g1 a{
	color: white;
}
.g2 a{
	color: black;
}
.gift4 a{
	text-decoration: none;
}

.text7 {
	padding-top: 88px;
	font-size: 32px;
	line-height: 38px;
	text-align: center;
}
.text8{
	margin-top: 23px;
	font-size: 18px;
	text-align: center;
}
.best{
	padding-top: 71px;
	display: flex;
	width: 1170px;
	margin: auto;
}

.fifthText{
	background-color: #231F20;
	width: 100%;
	color: white;
}

.fifthText-item{
	margin-left: 78px;
}

.itemF-1{
	padding-top: 63px;
	font-size: 14px;
}
.itemF-2{
	margin-top: 27px;
	font-size: 48px;
   line-height: 58px;
	max-width: 492px;
}
.itemF-3{
	margin-top: 60px;
	font-size: 18px;
	margin-bottom: 49px;
}
.fifthImage img{
	height: 100%;
	width: 100%;
}
.description{
	margin-top: 20px;
	display: flex;
	justify-content: center;
	margin-bottom: 80px;
}
.d-item1{
	width: 474px;
	font-size: 24px;
	font-weight: 800;
	line-height: 140.62%;
	padding: 48px 0 0 48px;
}
.d-item2{
	font-family: 'Libre Franklin';
	font-style: normal;
	text-align: justify;
	width: 474px;
	font-size: 17px;
	padding-left: 48px;
	margin-top: 16px;
	
}
.d-item3{
	font-family: 'Libre Franklin';
	font-style: normal;
	width: 474px;
	font-size: 14px;
	padding-left: 48px;
	margin-top: 16px;
}
.description-item{
	width: 570px;
	box-shadow: 10px 10px 5px 0px #F5F5F5;
}
.description-item1{
	width: 570px;
	margin-left: 30px;
}
.parent{
	display: flex;
	justify-content: center;
	
}
.menu-1{
	margin-top: 106px;
	
}

.menu-1 ul{
	list-style: none;
	margin: 0;
	padding: 0
}

.menu-1 ul li a{
	text-decoration: none;
	color: black;
	font-weight: 800;
}
.menu-1 ul li{
	padding: 0 50px 0 50px;
}
.fmenu-1{
	margin-right: 70px;
}
.fmenu-2{
	margin-left: 70px;
}
.logo-1{
	margin-top: 106px;
	font-family: 'Homemade Apple';
   font-style: normal;
	color: #F7941E;
}

.boord{
	width: 1000px;
	border-top: 1px solid #000000 ;
	margin: auto;
	margin-top: 53px;
}
.social{
	display: flex;
	margin-top: 56px;
	justify-content: center;
}
.icons-soc a{
	color: white;
}
.icons-soc{
	background-color: #000000;
	width: 39px;
	height: 39px;
	display: flex;
	justify-content: center;
	align-items:center;
	border-radius: 60px;
	margin-left: 10px;
}
.officer{
	text-align: center;
	margin: 73px 0 35px 0;
}